* {
    box-sizing: border-box;
    padding: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #84afea, #b7caea);
}

.container {
  background: white;
  padding: 30px, 40px;
  width: 750px;
  border-radius: 18px;
  box-shadow: 0 20px 45px rgba(237, 144, 144, 0.12);
}

h1 {
  text-align: center;
  margin: 0;
  color: #1f5fbf;
  font-size: 26px;
}

p {
  text-align: center;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin: 12px 0 28px;
}

form::before,
form::after {
  content: "";
  display: block;
  height: 1px;
  background: #e5e7eb;
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #444;
  font-size: 14px;
}

.date-row {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.date.row input {
    flex: 1;
}

input [type="number"] {
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 40px;
  outline: none;
  border-color: #1f5fbf;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 25px;
}

.radio-group input {
    margin-right: 6px;
}

button {
  width: 100%;
  height: 44x;
  border: none;
  background: linear-gradient(to bottom, #1f5fbf, #3f7bdc);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 6px rgba(37, 99, 235,0.35);
}

button:hover {
  filter: brightness(1.05);
  opacity: 0.9;
  background: orangered;
}
button:active {
  background: orchid
}
#result {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  color: #111827;
}
#result span {
    color: #f59e0b;
    font-weight: bold;
}